<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis a nam
    molestias distinctio tenetur veniam tempore dolor dicta neque mollitia!
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite (1).svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Jhone Lumeo</h3>
        <p class="quote__company">Mosh Company</p>
      </div>
    </div>
  </footer>
</blockquote>
